@import '../mixins';
@import '../variables';

.navbar{
  position: fixed;
  width: 100vw;
  top: $top;
  left: $left;
  z-index: 50;
}

.hidden-header{
  display: $display-none;
}

.navbar:before{
  position: absolute;
  content: '';
  width: $width;
  height: 10vh;
  top: $top;
  left: $left;
  z-index: 1;
  background: #ffffff;
}

.header{
  background: url('../img/header-img.png') no-repeat top left /cover;
  margin-top: 10vh;
  height: 100vh;
  width: $width;
}

.navbar__burger{
  display: $display-none;
}

.navbar__menu{
  @include flex-between;
  width: $width;
}

.navbar__list{
  @include flex-space-around;
  width: $width;
  z-index: 2;
}

.navbar__link{
  color: $color-instagram-text;
  text-transform: $text-transform-uppercase;
  font-size: $text-smaller;
  text-decoration: $text-decoration;
}

.navbar__link:hover{
  color: #57A4A4;
  text-decoration: $text-decoration;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .hidden-header{
    display: $display-block;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    margin-top: 0;
    background: url('../img/header-img.png') no-repeat top center /cover;
  }

  .navbar{
    position: relative;
  }

  .hidden-header{
    display: $display-block;
  }

  .navbar__burger{
    display: $display-block;
    position: relative;
    width: 44px;
    height: 37px;
    z-index: 5;
    background-color: #000000;
    top: -7px;
    right: -94%;
  }

  .navbar__burger:after,
  .navbar__burger:before{
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 17px;
    height: 2px;
    left: 13px;
  }

  .navbar__burger:after{
    bottom: 13px;
  }

  .navbar__burger:before{
    top: 13px;
  }

  .navbar__span{
    position: absolute;
    background-color: #ffffff;
    width: 17px;
    height: 2px;
    left: 13px;
    top: 18px;
    /*transition: all 0.3s ease 0s;*/
  }

  .navbar__burger.active:after{
    transform: rotate(-45deg);
    bottom: 17px;
  }

  .navbar__burger.active:before{
    transform: rotate(45deg);
    top: 17px;
  }

  .navbar__span.active{
    transform: scale(0);
    /*transition: all 0.3s ease 0s;*/
  }

  .navbar__menu{
    position: fixed;
    top: -208px;
    right: 170px;
    width: 182px;
    height: 208px;
    background-color: #ffffff;
    /*transition: all 0.3s ease 0s;*/
    padding: 5vh 5vw;
  }


  .navbar__menu.active{
    top: 12vh;
    right: 0;
  }

  .navbar__list{
    display: $display-block;
  }

  .navbar__item{
    margin-bottom: 1vh;
    border-bottom: #5C5C5C solid 1px;
  }

  .navbar__item:hover{
    background-color: #F5F5F5;
  }

  .navbar__link{
    font-size: $text-smaller;
    padding: 2vh 0;
  }

  .header-img{
    height: 110px;
  }
}