@import '../mixins';
@import '../variables';

.latest-instagram-shots{
  background-color: #ececec;
}

.latest-instagram{
  @include flex-between;
}

.latest-instagram-shots-title{
  color: $color-instagram-text;
  font-size: $font-size-title;
  font-weight: $font-weight-bold;
  text-transform: $text-transform-uppercase;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

.latest-instagram-shots-link{
  color: $color-instagram-text;
  font-size: 13px;
  font-weight: $font-weight-bold;
  text-transform: $text-transform-uppercase;
  padding-top: 10vh;
}

.latest-instagram-shots-list{
  @include flex-between;
  padding-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .hidden{
    display: $display-none;
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .latest-instagram-shots-item{
    width: 31%;
  }

  .latest-instagram-shots-img{
    width: 200px;
    height: auto;
  }

  .hidden{
    display: $display-none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .latest-instagram-shots{
    background-color: #ffffff;
  }

  .latest-instagram-shots-title{
    padding-left: $padding-left;
    font-size: $font-size-text;
    padding-top: 20px;
  }

  .latest-instagram-shots-list{
    padding-left: $padding-left;
  }

  .hidden-link{
    display: $display-none;
  }

  .latest-instagram-shots-img{
    height: auto;
  }

  .hidden{
    display: $display-none;
  }

  .hidden-tel{
    display: $display-none;
  }
}