@import '../mixins';
@import '../variables';

.our-recent-post-title{
  color: #4E4E4E;
  font-size: $font-size-title;
  font-weight: $font-weight-bold;
  text-transform: $text-transform-uppercase;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

.our-recent-posts-list{
  @include flex-between;
  flex-wrap: wrap;
  padding-bottom: 8vh;
}

.our-recent-posts-item{
  @include flex-between;
  padding-bottom: 32px;
  width: 48%;
}

.our-recent-posts-subtitle{
  font-weight: $font-weight-bold;
  font-size: $font-size-title;
  color: $color-instagram-text;
  padding: $padding;
}

.our-recent-posts-link{
  text-decoration: $text-decoration;
  font-size: $font-size-small;
  color: #7C7C7C;
  padding: $padding;
}

.our-recent-posts-text{
  font-size: $font-size-text;
  line-height: $line-height;
  color: #5C5C5C;
  padding-left: 20px;
  padding-top: 12px;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .our-recent-posts-item{
    width: $width;
  }

  .our-recent-posts-list{
    @include flex;
    flex-wrap: wrap;
    padding-bottom: 37px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .our-recent-post-title{
    font-size: $font-size-text;
    padding-left: $padding-left;
  }

  .our-recent-posts-list{
    @include column;
    padding-bottom: 10px;
  }

  .our-recent-posts-item{
    flex-direction: $font-size-text;
    padding-bottom: 28px;
    width: $width;
  }

  .our-recent-posts-subtitle{
    font-size: $font-size-text;
    padding-left: $padding-left;
  }

  .our-recent-post-img{
    width: 160px;
    padding-left: $padding-left;
  }

  .our-recent-posts-link{
    padding-left: $padding-left;
    font-size: $text-smaller;
  }
}