@mixin flex{
  display: flex;
  align-items: center;

}

@mixin flex-space-around{
  @include flex;
  justify-content: space-around;
}

@mixin center{
  @include flex;
  justify-content: center;
}

@mixin flex-between{
  @include flex;
  justify-content: space-between;
}

@mixin font{
  font-size: 16px;
  text-transform: uppercase;
}

@mixin font-white{
  @include font;
  color: #ffffff;
}

@mixin column{
  @include flex;
  flex-direction: column;
}

@mixin margin-auto{
  margin: 0 auto;
}