$main-color: #5C5C5C;
$hover-color: #57A4A4;
$margin-auto: 0 auto;
$table-screen-min: 'min-width (481px)';
$table-screen-max: 'max-width (992px)';
$phone-screen-max: 'max-width (480px)';
$phone-screen-min: 'min-width (320px)';
$screen: 'max-width (1100px)';
$font-size-title: 16px;
$font-size-text: 14px;
$font-size-small: 12px;
$text-transform-uppercase: uppercase;
$text-align: center;
$font-weight-bold: bold;
$padding-footer: 21.5%;
$line-height: 28px;
$padding-quater: 24.5%;
$text-decoration: none;
$color-text: #B9B9B9;
$padding-footer-table: 5%;
$padding-footer-phone: 17%;
$display-block: block;
$color-instagram-text: #4E4E4E;
$padding-left: 4%;
$display-none: none;
$padding-top: 12vh;
$padding-bottom: 7vh;
$padding: 2px 0 5px 20px;
$top: 0;
$left: 0;
$width: 100%;
$text-smaller: 11px;